        <div class="place-info-box agent">
            <div class="checkarea">
                <div class="checkbox">
                  <label><input type="checkbox" value=""></label>
                </div>
            </div>

            <div class="place-info-box-texta">
                <label class="place-info-box-text">agent name</label>
                <label class="place-info-box-text">template</label>
                <label class="place-info-box-text status">status</label>
            </div>
            <div class="place-info-box-span">
             <!--   <div class="place-info-box-a">
                    <a id="reverter" class="">History</a>
                </div>  -->
                <div class="area-lb">
                    <div class="area-lb-label">
                        <label class="place-info-box-lb">{{agent.agent}}</label>
                    </div>
                    <div class="area-history">
                        <a id="history" class=""><i class="fa fa-caret-down"></i>History</a>
                    </div>
                </div>
         <!--       <label class="place-info-box-lb">dhz_NA901234:NT</label> -->
                <div class="place-info-box-lb-textarea">
                    <div class="form-group">
                        <textarea required rows="3" class="form-control" col="5" maxlength="1500" placeholder="Last Update: {{agent.description}}"></textarea>
                    </div>
                </div>
                <div class="place-info-box-status">
                    <div class="radio">
                      <label><input type="radio" name="optradio">Online</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Removed</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="optradio">Inprogress</label>
                    </div>
                </div>
                <div class="place-info-box-button">
                    <button id="addunique" type="button" class="btn btn-success">Add</button>
                </div>
            </div>
           <!-- <a id="reverter" class="">History</a> -->
          <!-- /.info-box-content -->
        </div>
      <!-- /.info-box -->
<!--  <div class="container-history" id="1">

      </div> -->
