        <div class="place-info-box agent">
          <div class="checkarea">
              <div class="checkbox">
                <label><input type="checkbox" value=""></label>
              </div>
          </div>
          <div class="agent-box">
              <label class="place-info-box-text">agent name</label>
              <label class="place-info-box-lb">{{agent.agent}}</label>
              <a class="history"><i class="fa fa-caret-down"></i>History</a>
          </div>
          {{form.valid}}
          {{form.value | json}}
          <form #form="ngForm" novalidate>
          <div class="template-box">
              <label class="place-info-box-text">template</label>
              <div class="form-group">
                  <textarea name="template" required rows="3" class="form-control template" col="5" maxlength="1500" placeholder="Last update:{{agent.template}}" ngModel></textarea>
              </div>
          </div>
          <div class="status-box">
              <label class="place-info-box-text">status</label>
              <div class="radio-box">
                  <div class="radio">
                      <label><input type="radio" name="optradio">Online</label>
                  </div>
                  <div class="radio">
                      <label><input type="radio" name="optradio">Removed</label>
                  </div>
                  <div class="radio">
                      <label><input type="radio" name="optradio">Inprogress</label>
                  </div>
              </div>
          </div>
          </form>
          <div class="add-box">
              <button id="add-agent" type="button" class="btn btn-success">Add</button>
          </div>

        </div>
      <!-- /.info-box -->
<!--  <div class="container-history" id="1">

      </div> -->
