        <div class="place-info-box agent">
          {{agentForm.valid}}
          {{agentForm.value | json}}
          <form [formGroup]="agentForm" novalidate>
          <div class="checkarea">
              <div class="checkbox">
                <label><input type="checkbox" formControlName="selected"></label>
              </div>
          </div>
          <div class="agent-box">
              <label class="place-info-box-text">agent name</label>
              <label name="agent" class="place-info-box-lb">{{agent.agent}}</label>
              <a class="history"><i class="fa fa-caret-down"></i>History</a>
          </div>
          <div class="template-box">
              <label class="place-info-box-text">template</label>
              <div class="form-group">
                  <textarea formControlName="description" rows="3" class="form-control template" col="5" maxlength="1500" placeholder="Last update: {{agent.description}}" [value]="description_ta"></textarea>
              </div>
          </div>
          <div class="status-box">
              <label class="place-info-box-text">status</label>
              <div class="radio-box">
                  <div class="radio">
                      <label><input type="radio" formControlName="status" value="0" ngModel>Online</label>
                  </div>
                  <div class="radio">
                      <label><input type="radio" formControlName="status" value="2" ngModel>Removed</label>
                  </div>
                  <div class="radio">
                      <label><input type="radio" formControlName="status" value="1" ngModel>Inprogress</label>
                  </div>
              </div>
          </div>
          <div class="add-box">
              <button (click)="addTemplate(agentForm.value)" id="add-agent" type="button" class="btn btn-success" [disabled]="!agentForm.valid || agentForm.value.selected === true">Add</button>
          </div>
          </form>

        </div>
      <!-- /.info-box -->
<!--  <div class="container-history" id="1">

      </div> -->
