<div class="content-wrapper">
    <div class="container">

      <!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
      </section>

      <section class="content">

        <div class="jumbotron welcome-jumbotron">
           <h1>Welcome to HC Template!</h1>
           <p>
             Let's start to add some templates.
           </p>
           <a class="btn btn-primary btn-lg" [routerLink]="['/addtemplate']">Add Templates</a>
        </div>

      </section>
      <!-- FIM DO CONTEÚDO -->
    </div>
</div>
